<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <title>Menu Inicial</title>
           <link rel="stylesheet" href="/static/css/home.css">
       <link rel="stylesheet" href="/static/css/folder.css">
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'hello.js') }}" ></script>
       <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/home.js') }}" ></script>
       <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/folder.js') }}" ></script>
<!--       <script type="text/javascript" src="/static/js/jquery/jquery-3.5.0.min.js"/>-->
<!--       <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css"/>-->
<!--       <script type="text/javascript"src="/static/js/bootstrap/bootstrap.min.js"></script>-->

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery/jquery-3.5.0.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/bootstrap/bootstrap.min.css')}}">


</head>
<body>
    <div class="conteiner" style="">
        <div class="row" style="">
            {% include 'menu.html' %}
            <main class="col-12 w-100 h-100  col-sm-10 col-md-9 col-lg-9 p-5">
                    menu inicial
            </main>
        </div>
    </div>
</body>
</html>