<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css">
<!--	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
	<link rel="stylesheet" href="static/css/signup.css">
	<script type="text/javascript" src="static/js/jquery/jquery-3.5.0.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap/bootstrap.min.js"></script>
<!--	<script type = "text/javascript" src='/static/hello.js' ></script>-->
<!--	<link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css">-->
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tela de cadastro</title>
	<style>
		body{
			background-image: url({{ url_for('static', filename="images/code.jpg") }});
			background-color: #cccccc;
			background-attachment: fixed;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		div #message-label{
			display:none;
			word-wrap: break-word;
		}
	</style>
</head>
<body>
<form action="" method="post">
    <div data-type="principal" class="conteiner w-100 h-100 d-flex d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-center">
                <div class="conteiner">
                    <h1 class="d-flex justify-content-center text-white">HomeLab</h1>
                    <div id="message" class="">
                        <div id="message-label" class="message-label alert alert-danger" role="alert">
                            Usuário já existente, por favor, utilize outro login
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
                <input class="form-control" name="login" placeholder="Login" value="{{form['login']}}">
                <input class="form-control" name="email" placeholder="E-mail" value="{{form['email']}}">
                <input type="password" class="form-control" name="password" placeholder="Password">
                <input type="password" class="form-control" name="re-password" placeholder="Confirm">
                <div class="d-flex justify-content-end">
                    <button data-type="login" type="submit" class="btn btn-primary">sign up</button>
                </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center">
            <label data-type="footer" href="#" class="text-white">have account?</label><a data-type="footer" href="/">go to login</a>
            </div>
            <a data-type="footer" href="#" class="d-flex justify-content-center">Forgot your password?</a>
        </div>
    </div>
    </div>
</form>
</body>
</html>

<script type="text/javascript">
		var message = "{{message}}"
		if(message != ""){
			//alert(message);
			var aux = document.getElementById("message-label");
			aux.style.display = "block";
			//var label = document.createElement("label");
			aux.innerText = message;
			aux.replaceWith(aux);
		}
</script>