.box{
    width: 50%;
    height: 50%;
    background: black;

}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.box {
  width: 300px;
  border: 5px solid;
  border-color: #407e96;
  border-radius: 24px;
  padding: 40px;

  background: #191919;
  text-align: center;
}
.box input{
    border:0;
    height: 3em;
    border-radius: 12px;
    border: 2px solid #008000;
    text-align: center;
    outline: none;


    margin: auto;
    padding: 14px 10px;

    resize:both;

}
.box input:focus{
    width: auto;
    margin-left: 0px;
    margin-right: 40px;
    border: 2px solid #0000FF;
    border-spacing:50px;
    display: block;
    resize:both;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}