<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script type="text/javascript" src="/static/js/jquery/jquery-3.5.0.min.js"></script>
    <script type="text/javascript"src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/folder.js"></script>

    <link rel="stylesheet" href="/static/css/folder.css">
</head>
<body>
    <main class="col-12 w-100 h-100  col-sm-10 col-md-9 col-lg-9 p-5">
    <form enctype="multipart/form-data" onsubmit="return false" class="table-dark">
        <div class="row" style="">
            <div class="col-3 col-md-6">

                <button class="btn btn-folder img-fluid">
                        <img class="btn-img" src="/static/images/angle-left-solid.svg">
                </button>
                    <span class="label-folder">/home/lab/folder</span>

            </div>
            <div class="col-9 col-md-6">
                <div class="input-group">
                    <input class="form-control input-folder" >
                    <button class="btn btn-folder img-fluid">
                        <img class="btn-img" src="/static/images/search-solid.svg">
                    </button>
                    <!--document.getElementById('selectedFile').click(); muito útil por sinal !
                    -->
<!--                    <form id="form2" enctype="multipart/form-data" onsubmit="return false" method="" >-->
                        <input type="file" name="fileUpload" id="fileUpload" size="10" multiple="multiple" style="display:none">
                        <button type="" class="btn btn-folder img-fluid" onclick="file_upload('fileUpload')">
                            <img class="btn-img" src="/static/images/upload-solid.svg">
                        </button>
<!--                    </form>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-dark">
                    <tbody>
                        <th data-type="col-nome" scope="col">nome</th>
                        <th data-type="col-data" scope="col">modificação</th>
                        <th data-type="col-tamanho" scope="col">tamanho</th>
<!--                        <th data-type="col-opcao" scope="col">op</th>-->
                    </tbody>
                    <tbody>
                        {%for arq in arquivos%}
                        <tr>
                            <td data-type="col-folder">
                                <a href="#" class="td-btn-folder">
                                    {%if arq.tipoArquivo == 'folder' %}
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="folder" class="svg-inline--fa fa-folder fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 128H272l-64-64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V176c0-26.51-21.49-48-48-48z"></path></svg>
                                    {%endif%}

                                    {{arq.nomeArquivo}}
                                </a>
                            </td>
                            <td data-type="col-data">null</td>
                            <td data-type="col-tamanho">null</td>
                            <td data-type="col-opcao">
                                <a href="#" class="td-btn-opcao" onclick="info_file({{arq.id}});">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis-v" class="svg-inline--fa fa-ellipsis-v fa-w-6" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path fill="currentColor" d="M96 184c39.8 0 72 32.2 72 72s-32.2 72-72 72-72-32.2-72-72 32.2-72 72-72zM24 80c0 39.8 32.2 72 72 72s72-32.2 72-72S135.8 8 96 8 24 40.2 24 80zm0 352c0 39.8 32.2 72 72 72s72-32.2 72-72-32.2-72-72-72-72 32.2-72 72z"></path></svg>
                                </a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="modal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
<!--                    <h5 id="modal-title" class="modal-title">Modal title</h5>-->
                      <h5 id="modal-title" class="modal-title align-item-center">info file</h5>
                    <button type="button" id="close_1" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div id="modal-body" class="modal-body">
                      <p><table class="table-dark w-100">

                  </table></p>
                  </div>
                  <div class="modal-footer">
                    <a id="btn_download" href="#" type="button" class="btn btn-primary">download</a>
                    <button id="close_2" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </form>
    </main>
</body>
</html>
