<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=device-dpi" />

    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/user.css')}}">
    <script type="text/javascript" src=""></script>
    <script type="text/javascript" src="/static/js/jquery/jquery-3.5.0.min.js"/>
       <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.min.css"/>
       <script type="text/javascript"src="/static/js/bootstrap/bootstrap.min.js"></script>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css">-->
    <style>

    </style>
</head>
<body>

    <main class="col-12 col-sm-10 col-md-10 col-lg-10 p-5">
        <form>
            <div class="row justify-content-center">
                <div class="w-100" style="height: 2vh;"></div>
                <div class="col-12 order-2 col-md-6 col-lg-6">
                    <div class="row">
                        <div class="col-12">
                            <input class="form-control" name="login" placeholder="login" value="login">
                        </div>
                        <div class="col-12">
                            <input class="form-control" name="login" placeholder="login" value="login">
                        </div>
                        <div class="col-12">
                            <input class="form-control" name="login" placeholder="login" value="login">
                        </div>
                        <div class="col-12">
                            <input class="form-control" name="login" placeholder="login" value="login">
                        </div>
                    </div>
                </div><div class="w-100 order-3" style="height: 2vh;"></div>

                <div class="clearfix visible-block">
                <div class="col-6 order-1">
                    <button type="submit" class="img-fluid btn btn-primary" style="min-width: 150px;min-height: 150px;">
                        <img src="/static/images/user-solid.svg" class="" style="width: 100%;height: auto;">
                    </button>
                </div>
                    <div class="w-100" style="height: 20px;"></div>
                </div>

                <div class="col-12 order-4 col-md-10 col-lg-10">
                    <table class="table table-dark">
                        <tbody><tr>
                            <th scope="col">nome</th>
                            <th scope="col">descrição</th>
                            <th scope="col">permissão</th>
                        </tr>
                        </tbody><tbody>
                        <tr>
                            <td>teste</td>
                            <td>null</td>
                            <td>null</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>null</td>
                            <td>null</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>null</td>
                            <td>null</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>null</td>
                            <td>null</td>
                        </tr>
                    
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
            </div>
        </form>
    </main>

</body>
</html>